div#footer {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    color:#CCC;
    background:#333;
    padding:8px;
}

h1 {
    text-align: center;
}

.col-md-2
{
    border: 1px solid black;
    background:#F1D76F  ;
}
hr {
    border: 1px solid black;
}