@{
  Layout = "_Layout";
}
<div class="jumbotron">
    <h1>Cuisines</h1>
</div>
<div class="container">
  <form class="form-group" action='/cuisines' method='post'>
        <label>Add Cuisine: 
            <input type="text" name="newCuisine" class="form-control" required>
        </label><br>
      <button class='btn btn-success'>Add Cuisine</button>
  </form><hr>
  <form action='/' method='get'>
      <button class='btn btn-success'>Back to Home</button>
  </form><br>
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Cuisine</th>
     
    </tr>
  </thead>
  @foreach (var cuisine in @Model)
  {
  <tbody>
    <tr>
      <th scope="row">@cuisine.Id</th>
      <td>@cuisine.FoodType</td>
    </tr>
  </tbody>

  }
  </table>

</div>