@{
  Layout = "_Layout";
}
<div class="jumbotron">
        <h1>The Best Restaurants Eva!</h1>
    </div>
<div class="container">
  <h1>Go to Pages</h1>
  <form action='/cuisines' method='get'>
      <button class='btn btn-primary'>Cuisines</button>
  </form><br>
  <form action='/restaurants' method='get'>
      <button class='btn btn-primary'>Restaurant</button>
  </form>
</div>