<div class="jumbotron">
        <h1>Welcome to Snappy Snips Hair Salon</h1>
    </div>
<div class="container">
  <h2>Login to our Intranet Network</h2>
  <form action='/stylists' method='get'>
      <button class='btn btn-primary'>Stylists</button>
  </form>
</div>
